// Try to make the title area look a little clearer when the
// recipients list is expanded.
#reply-control.edit-title .contents input#reply-title {
  position: relative;
  z-index: 110;
  border: 1px solid #e9e9e9;
}